doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Success
  link(rel='stylesheet' href='/public/css/success.css')
.success-card
  h1 CONGRATULATIONS!
  p You have successfully signed into the Refactory system. Feel at home
